<div class="container" id="search">
	<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>



<div id="map" style="width:100%;height:500px"></div>

<!--<h1>{{$ctrl.$rootScope.mark}}</h1>
<h2>{{$ctrl.title}}</h2>-->





