

#nav2 li > a {
    position: relative;
    display: block;
    padding: 15px 15px;
}

.nav-pills > li > a {
    border-radius: 0px;
    color: #6b9f44;
}

.nav-pills > li > a:hover {
    border-radius: 0px;
    color: white;
    background-color:#6b9f44;
}

#logo{
  width: 80%;
  padding-top: 5px;
}

#logoli{
  width: 200px;
}



